.titleContainer {
  font-size: 100px;
  text-align: center;
  max-width: 100%;
}

.titleContainer:hover {
    color: #d52b2d;
    cursor: pointer;
}

.buttonContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
